BasedOnStyle: Microsoft
IndentWidth: 4
ColumnLimit: 120
AllowShortLambdasOnASingleLine: true
BreakBeforeBraces: Allman
AlignAfterOpenBracket: BlockIndent
DerivePointerAlignment: false
PointerAlignment: Left
UseTab: AlignWithSpaces
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
Cpp11BracedListStyle: false
AlwaysBreakTemplateDeclarations: true
