.directory
.build
.idea
.vscode
.vs
.DS_Store
.clangd
/Protobuf/Build
/Assets/.AssetCache
/Inc/Common.hpp.gch
*.blend1
/Bin
/Levels/test*.gwd
/Levels/img/
/Assets/Caustics
/Assets/Textures
/Assets/WallTextures
/Deps/egame_override
